{% load static %}
<footer class="footer-section">
    <div class="container">
        <div class="footer-top">
            <div class="logo">
                <a href="index-1.html">
                    <img src="{{ setting.logo.url }}" width="10%" alt="footer">
                </a>
            </div>
            <ul class="social-icons">
                <li>
                    <a href="https://www.facebook.com/bekzat.kasymjanov.14/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/b_kasymjanov" target="_blank" class="active">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/bekakasymjanov/" target="_blank">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/Beka77">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/bkszt/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom-area">
                <div class="left">
                    <p>Copyright © 2020.All Rights Reserved By <a target="_blank" href="https://mssg.me/m1ikg">Beka </a>
                    </p>
                </div>
                <ul class="links">
                    <li>
                        <a href="{% url 'about_us' %}">About</a>
                    </li>
                    <li>
                        <a href="#0">Terms Of Use</a>
                    </li>
                    <li>
                        <a href="#0">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#0">FAQ</a>
                    </li>
                    <li>
                        <a href="#0">Feedback</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>