{% extends 'homepage.html' %}
{% load static %}
{% block content %}
<!-- ==========Preloader========== -->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ==========Preloader========== -->
<!-- ==========Overlay========== -->
<div class="overlay"></div>
<a href="#0" class="scrollToTop">
    <i class="fas fa-angle-up"></i>
</a>
<!-- ==========Overlay========== -->

<!-- ==========Header-Section========== -->
{% include 'include/header.html' %}
<!-- ==========Header-Section========== -->

<!-- ==========Event-Banner-Section========== -->
<section class="event-banner-section bg_img" data-background="{% static '/images/banner/banner06.jpg'%}">
    <div class="container">
        <div class="event-banner">
            <a href="https://www.youtube.com/watch?v=FApaCgkVPow" class="video-popup">
                <span></span>
                <i class="flaticon-play-button"></i>
            </a>
        </div>
    </div>
</section>
<!-- ==========Event-Banner-Section========== -->

<!-- ==========Event-Book-Search========== -->
<!-- ==========Event-Book-Search========== -->

<!-- ==========Event-About========== -->
<section class="event-about padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-between flex-wrap-reverse">
            <div class="col-lg-7 col-xl-6">
                <div class="event-about-content">
                    <div class="section-header-3 left-style m-0">

                        <h2 class="title">{{ news.title }}</h2>
                        <p>{{ news.description }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-7">
                <div class="event-about-thumb">
                    <img src="{{ news.image.url }}" alt="event">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Event-About========== -->

<!-- ==========Gallery-Section========== -->
<!-- ==========Gallery-Section========== -->

<!-- ==========Speaker-Section========== -->

<!-- ==========Speaker-Section========== -->

<!-- ==========Statistics-Section========== -->
<section class="statistics-section padding-top padding-bottom bg_img pb-lg-0"
    data-background="{% static '/images/statistics/statistics-bg01.jpg' %}">
    <div class="container">
        <div class="section-header-3">
            <span class="cate">what we have done</span>
            <h2 class="title">our recent STATISTICS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna
                aliqua. Quis ipsum suspendisse ultrices gravida</p>
        </div>
        <div class="statistics-wrapper">
            <div class="row mb--20">
                <div class="col-md-4">
                    <div class="stat-item">
                        <div class="stat-thumb">
                            <img src="{% static '/images/statistics/stat01.png' %}" alt="statistics">
                        </div>
                        <div class="stat-content">
                            <h3 class=" counter-item odometer" data-odometer-final="450"></h3>
                            <span class="info">Tickets Booked</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-item">
                        <div class="stat-thumb">
                            <img src="{% static '/images/statistics/stat02.png' %}" alt="statistics">
                        </div>
                        <div class="stat-content">
                            <h3 class=" counter-item odometer" data-odometer-final="500"></h3>
                            <span class="info">Usefull Sessions</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="stat-item">
                        <div class="stat-thumb">
                            <img src="{% static '/images/statistics/stat03.png' %}" alt="statistics">
                        </div>
                        <div class="stat-content">
                            <h3 class=" counter-item odometer" data-odometer-final="28"></h3>
                            <span class="info">Talented Speakers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Statistics-Section========== -->

<!-- ==========Faq-Section========== -->
<section class="faq-section padding-top">
    <div class="container">
        <div class="section-header-3">
            <span class="cate">HOW CAN WE HELP?</span>
            <h2 class="title">Frequently Asked Questions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ut labore et dolore magna
                aliqua. Quis ipsum suspendisse ultrices gravida</p>
        </div>
        <div class="faq-area padding-bottom">
            <div class="faq-wrapper">
                <div class="faq-item">
                    <div class="faq-title">
                        <h6 class="title">Can I Upgrade my Tickets after Placing an Order?</h6>
                        <span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>Being that Tickto does not own any of the tickets sold on our site, we do not have the
                            ability to exchange or replace tickets with other inventory. </p>
                        <p>If you would like to "upgrade" or change the location of your seats, you can relist your
                            current tickets for sale here and purchase other tickets of your choice. </p>
                    </div>
                </div>
                <div class="faq-item active open">
                    <div class="faq-title">
                        <h6 class="title">Why did the delivery method of my tickets change?</h6>
                        <span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>Being that Tickto does not own any of the tickets sold on our site, we do not have the
                            ability to exchange or replace tickets with other inventory. </p>
                        <p>If you would like to "upgrade" or change the location of your seats, you can relist your
                            current tickets for sale here and purchase other tickets of your choice. </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-title">
                        <h6 class="title">Why is there a different name printed on the tickets
                            and will this give me problems at my event?</h6>
                        <span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>Being that Tickto does not own any of the tickets sold on our site, we do not have the
                            ability to exchange or replace tickets with other inventory. </p>
                        <p>If you would like to "upgrade" or change the location of your seats, you can relist your
                            current tickets for sale here and purchase other tickets of your choice. </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-title">
                        <h6 class="title">My tickets are not consecutive seats, are they still
                            guaranteed together?</h6>
                        <span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>Being that Tickto does not own any of the tickets sold on our site, we do not have the
                            ability to exchange or replace tickets with other inventory. </p>
                        <p>If you would like to "upgrade" or change the location of your seats, you can relist your
                            current tickets for sale here and purchase other tickets of your choice. </p>
                    </div>
                </div>
                <div class="faq-item">
                    <div class="faq-title">
                        <h6 class="title">Why is there a different name printed on the tickets
                            and will this give me problems at my event?</h6>
                        <span class="right-icon"></span>
                    </div>
                    <div class="faq-content">
                        <p>Being that Tickto does not own any of the tickets sold on our site, we do not have the
                            ability to exchange or replace tickets with other inventory. </p>
                        <p>If you would like to "upgrade" or change the location of your seats, you can relist your
                            current tickets for sale here and purchase other tickets of your choice. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Faq-Section========== -->

<!-- ==========Event-Section========== -->

<!-- ==========Event-Section========== -->

<!-- ==========Newslater-Section========== -->
{% include 'include/footer.html' %}
<!-- ==========Newslater-Section========== -->


{% endblock %}