{% extends 'homepage.html' %}
{% load static %}
{% block content %}

<body>
    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->

    <!-- ==========Sign-In-Section========== -->
    <section class="account-section bg_img" data-background="{% static '/images/account/account-bg.jpg' ">
        <div class="container">
            <div class="padding-top padding-bottom">
                <div class="account-area">
                    <div class="section-header-3">
                        <span class="cate">Добро пожаловать</span>
                        <h2 class="title"> К <a href="{% url 'index' %}"> {{ setting.title }}</a> </h2>
                    </div>
                    <form class="account-form" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <label for="email1">Имя пользователя<span>*</span></label>
                            <input type="text" name="username" placeholder="Enter Your Username" required>
                        </div>
                        <div class="form-group">
                            <label for="email1">Email<span>*</span></label>
                            <input type="text" name="email" placeholder="Enter Your Email" required>
                        </div>
                        <div class="form-group">
                            <label for="pass1">Пароль<span>*</span></label>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <label for="pass2">Подтвердите пароль<span>*</span></label>
                            <input type="password" name="confirm_password" placeholder="Password" required>
                        </div>
                        <div class="form-group checkgroup">
                            <input type="checkbox" id="bal" required checked>
                            <label for="bal">Я согласен <a href="#0">Условия, Политика конфиденциальности</a></label>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" value="Sign Up">
                        </div>
                    </form>
                    <div class="option">
                        Уже есть аккаунт? <a href="{% url 'user_login' %}">Авторизоваться</a>
                    </div>
                    <div class="or"><span>Or</span></div>
                    <ul class="social-icons">
                        <li>
                            <a href="#0">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="active">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0">
                                <i class="fab fa-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========Sign-In-Section========== -->
    {% endblock %}